.home__section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    align-items: center;
    flex-direction: column;
  }
  
  .home__top {
    width: 100%;
    height: 28rem;
  }
  
  .home__body {
      width: 100%;
      height: 100%;
      min-height: 100rem;
      display: flex;
      position: relative;
      left:0px;
      top:60%;
      right:0px;
      bottom:0px;
      flex-direction: column;
  }
  
  .home__body__search {
    width: 80%;
    height: 10vh;
    display: flex;
    margin-top: -1rem;
    justify-content: center;
    z-index: 100;
    background-color: var(--nav-color);
    font-family: 'Poppins', sans-serif;
    border-radius: 35px;
    border: solid 1px black;
    box-shadow: black 0 0 10px;
    align-self: center;
  }
  
  
  .home__body__search__body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .home__body__search__body__date{
    width: 18%;
    height: 70%;
    border-radius: 40px;
    padding: 15px;
    border: none;
    align-self: center;
    text-align: center;
    background-color: var(--nav-enterprise-color);
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .home__body__search__body__select-stadium {
    width: 38%;
    height: 70%;
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
  }
  
  .home__body__search__body__select-stadium__control{
    width: 100%;
    height: 100%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    background-color: var(--nav-color)!important;
    border-radius: 30px !important;
    border-color: var(--nav-enterprise-color) !important;
  }
  
  .home__body__search__body__select-team {
    width: 38%;
    height: 70%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    background-color: var(--nav-color);
    color: var(--nav-enterprise-color);
    border-radius: 25px;
  }
  
  .home__body__search__body__select-team__control{
    width: 100%;
    height: 100%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    background-color: var(--nav-color)!important;
    border-radius: 30px !important;
    border-color: var(--nav-enterprise-color) !important;
  }
  
  .home__body__search__body__select-team__clear-indicator,
  .home__body__search__body__select-stadium__clear-indicator{
    color: var(--notification-light-color) !important;
  }
  
  .home__body__search__body__select-team__clear-indicator:hover,
  .home__body__search__body__select-stadium__clear-indicator:hover{
    color: var(--notification-color) !important;
  }

  .home__body__search__advicetext{
    width: 85%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--nav-color);
    font-size: large;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-shadow: black 0 0 2px;
    transition: opacity 0.3s ease-in-out;
  }

  .home__body__results {
    display: flex;
    width: 85%;
    height: 100%;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .home__body__results__text{
    width: 85%;
    height: 4rem;
    display: flex;
    position: absolute;
    top: 20rem;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 3rem;
    color: var(--notification-color);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-shadow: black 0 0 2px;
  }

  .matchgame-card {
    margin-left:1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 15rem;
    height: 26rem;
    box-shadow: black 0 0 5px;
    border-radius: 10px 10px 10px 10px;
  }

  .matchgame-card__image-container{
    width: 100%;
    height: 11rem;
    border-radius: 10px 10px 0 0;
  }
  
  .matchgame-card__image-container__stadium-image{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }

  .matchgame-card__image-container__team-logos{
    position: relative;
    bottom: 4.5rem;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--nav-color-transparent);
  }

  .matchgame-card__image-container__hometeam-image{
    width: 4rem;
    height: 4rem;
    margin-left: 0.5rem;
    object-fit:contain;
  }
  
  .matchgame-card__image-container__awayteam-image{
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
    object-fit:contain;
  }

  .matchgame-card__title__container{
    height: 30%;
    width: 95%;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0.4rem;
    padding-bottom: 0.5rem;
    border-bottom: var(--nav-enterprise-color-transparent) 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .matchgame-card__title{
    color: var(--nav-enterprise-color);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .matchgame-card__body{
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;
  }
  
  .matchgame-card__text{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    align-self: center;
    color:var(--text-color);
    height: 45%;
    width: 80%;
  }

  .matchgame-card__text-datetime{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    align-self: center;
    color:var(--text-color);
    margin-top: 0.2rem;
    height: 15%;
    width: 80%;
  }
  
  .matchgame-card__button_container{
    height: 30%;
    width: 70%;
    align-self: center;
    margin-top: 10px;
  }
  
  .matchgame-card__button{
    background-color: var(--button-color);
    align-self: center;
    width: 100%;
    height: 90%;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 15px;
    transition: background-color 0.2s;
  }
  
  .matchgame-card__button:hover{
    background-color: var(--hover-color);
  }


@media screen and (max-width: 900px) {

  .home__top{
    height: 20rem;
  }

  .home__body__search__body {
    flex-direction: column;
  }
  .home__body__search {
    height: 13rem;
    width: 90%;
    padding: 1rem;
  }

  .home__body__search__body__date{
    width: 70%;
    height: 30%;
  }

  .home__body__search__body__select-stadium{
    width: 85%;
    height: 30%;
    margin-top: 1rem;
  }

  .home__body__search__body__select-team{
    width: 85%;
    height: 30%;
    margin-top: 1rem;
  }

  .home__body__search__body__button{
    width: 30%;
    height: 20%;
    margin-top: 0.5rem;
  }

  .matchgame-card {
    align-self: center;
    margin-bottom: 2rem;
    width: 15rem;
    max-height: 30rem;
  }

  .matchgame-card__image{
    width: 100%;
    height: 30vh;
  }

  .home__body__search__advicetext{
    font-size: smaller;
  }
}