:root{
  --bg-color:rgb(255, 255, 255);
  --bg-color-dark:rgb(38, 38, 65);
  --bg-color-transparent:rgba(255, 255, 255,0.7);
  --nav-color:rgb(20, 20, 43);
  --nav-enterprise-color:#d6c7b5;
  --notification-color:rgba(216, 57, 57, 0.7);
  --notification-light-color:rgba(235, 168, 168, 0.7);
  --nav-color-transparent:rgba(20, 20, 43, 0.3);
  --price-color:rgb(71, 165, 71);
  --text-color:white;
  --button-color:#a2a2cc;
  --stadium-color:rgb(20, 20, 43);
  --hover-color:#f8f1b0;
  --info-section-color:#2b2b41;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}