.login-register__container {
    width: 100%;
    height: 100vh;
    padding: 1rem 0.5rem;
    margin-top: 3.5rem;
    background-color: var(--bg-color);
}

.login-register__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-grow: 10;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.login-register__section {
    min-width: 30vh;
    max-width: 100vh;
    min-height: 30vh;
    max-height: 200vh;
    align-self: center;
    padding: 1rem;
    background-color: var(--nav-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border-radius: 10px;
    box-shadow: black 0 0 10px;
    color: var(--nav-enterprise-color);
}

.login-register__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

input[type="text"],
input[type="password"],
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.login-register__submitbutton{
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    background-color: var(--nav-enterprise-color);
}

.login-register__label,
.login-register__submitbutton {
  margin-top: 1rem;
}

.login-register__label {
    color: var(--nav-enterprise-color);
    font-family: 'Poppins', sans-serif;
}

.login-register__submitbutton {
  padding: 0.5rem;
  border: 0px;
  transition : background 1s;
}

.email-instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
    margin-top: -11rem;
}

.name-instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
}

.password-instructions{
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
    margin-top: 12rem;
}

.confirmpassword-instructions{
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
    margin-top: 20rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: rgb(124, 212, 124);
    margin-left: 0.25rem;
}

.invalid {
    color: rgb(7, 7, 7);
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    position : absolute;
    color: rgb(170, 117, 117);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px;
    padding: 0.5rem;
    margin-top: 23rem;
}

.line {
    display: inline-block;
    position: relative;
}

.login-register__link,
.login-register__link:visited,
.login-register__link:active {
    color: var(--nav-enterprise-color);
    text-decoration: none;
    transition: color 1s;
}
.login-register__link:hover {
    color: var(--hover-color);
    transition: color 1s;
}

.login-register__submitbutton:hover {
    background-color: var(--hover-color);
    transition: background 1s;
}

.google-button{
    border-radius: 5px;
    background-color: var(--bg-color);
    font-weight: 400;
    font-size: 0.8rem;
    text-shadow: #000 0 0 10px;
    color: rgb(95, 27, 27);
    box-shadow: black 0 0 10px;
    transition: text 0.5s;
}

.google-button:hover{
    background-color: var(--nav-enterprise-color);
    color: red;
    box-shadow: black 0 0 10px;
}