.matchgametickets_stadium {
    width:25rem;
    height:22rem;
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  
  
  .upper-container {
    display:flex;
    width:100%;
    height: 25%;
    align-items:center;
    justify-content:center;
  }
  
  .up-container {
    display:flex;
    width: 60%;
    height: 85%;
    margin-top: auto;
    margin-right: 0.4rem;
    flex-direction:column;
    justify-content: flex-end;
  }
  
  .quarter-left {
    width:20%;
    height:80%;
    margin-top:auto;
    border-radius: 100% 0% 0% 0%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .quarter-right {
    width:20%;
    height:80%;
    margin-top:auto;
    border-radius: 0% 100% 0% 0%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .medium-container {
    width:100%;
    height:50%;
    display:flex;
    margin-top:0.2rem;
    margin-bottom:0.5rem;
    justify-content:center;
  }
  
  .north-upper-stand {
    display:flex;
    width:100%;
    height:70%;
    border-radius:10% 10% 0% 0%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .south-upper-stand {
    width: 100%;
    height: 70%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    border-radius:0% 0% 10% 10%;
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .medium-right-stands {
    display:flex;
    width:17.5%;
  }
  
  .medium-left-stands {
    display:flex;
    width:17.5%;
  }
  
  .west-stand {
    width:35%;
    height:100%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .west-upper-stand {
    width:65%;
    height:100%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .east-stand {
    width:35%;
    height:100%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .east-upper-stand {
    width:65%;
    height:100%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .south-container {
    display:flex;
    width:100%;
    height: 25%;
    align-items:center;
    justify-content:center;
  }
  
  .south-stands {
    display:flex;
    width: 60%;
    height: 85%;
    font-size: 1vmax;
    margin-right: 0.4rem;
    flex-direction:column;
    margin-bottom: auto;
  }
  
  .quarter-low-left {
    width:20%;
    height:80%;
    margin-bottom:auto;
    border-radius: 0% 0% 0% 100%;
    color:white;
    border:none;
    box-shadow: black 0px 0px 5px;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
  }
  
  .quarter-low-right {
    width:20%;
    height:80%;
    margin-bottom:auto;
    border-radius: 0% 0% 100% 0%;
    border:none;
    box-shadow: black 0px 0px 5px;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
  }
  
  .south-stand {
    width: 100%;
    height: 30%;
    color:white;
    font-size: 0.6vmax;
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
    background-color:var(--stadium-color);
  
  }
  
  .north-stand {
    width:100%;
    height:30%;
    color:white;
    font-size: 0.6vmax;
    background-color:var(--stadium-color);
    margin:0.2rem;
    border:none;
    box-shadow: black 0px 0px 5px;
  }
  
  .north-stand:hover,
  .south-stand:hover,
  .east-stand:hover,
  .west-stand:hover,
  .west-upper-stand:hover,
  .east-upper-stand:hover,
  .south-upper-stand:hover,
  .north-upper-stand:hover,
  .quarter-left:hover,
  .quarter-right:hover,
  .quarter-low-right:hover,
  .quarter-low-left:hover{
    background-color:var(--hover-color);
    transition:background-color 0.2s;
  }
  
  .field{
    width:65%;
    height:100%;
    background-color:green;
    
    align-self:center;
    background-color:#539A46;
    
    position:relative;
  }
  
  .field-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }


  @media screen and (max-width: 900px) {
  
    .matchgametickets_stadium {
      width: 25rem;
      height: 20rem;
    }
  }

  @media screen and (max-width: 475px) {
  
    .matchgametickets_stadium {
      width: 19rem;
      height: 15rem;
    }
  }